<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logLevel" source="logging.root.level" defaultValue="logs"/>
    <springProperty scope="context" name="logPath" source="logging.home" defaultValue="logs"/>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="mapabc-project"/>
    <springProperty scope="context" name="port" source="server.port" defaultValue="8080"/>

    <property name="log.root.level" value="${logLevel}"/>
    <property name="log.home" value="${logPath}"/>
    <property name="appName" value="${appName}"/>
    <property name="port" value="${port}"/>


    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 默认输出文件 -->
    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/default/common-default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/default/common-default.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- provides the fields in the configured pattern -->
                <timestamp/>
                <pattern>
                    <!-- the pattern that defines what to include -->
                    <pattern>
                        {
                        <!--自定义日志-->
                        "message":"%message",
                        <!--日志级别-->
                        "level": "%level",
                        <!--应用名称-->
                        "appName":"${appName}",
                        <!--模块名称-->
                        "moduleName":"%X{moduleName}",
                        <!--方法名称-->
                        "methodName":"%X{methodName}",
                        <!--端口号-->
                        "port": "${port}",
                        <!--类名称-->
                        "loggerName":"%logger{36}",
                        <!--线程名称-->
                        "threadName":"%thread",
                        <!--请求URL 只有contoller需要-->
                        "requestURI":"%X{req.requestURI}",
                        <!--ip地址 只有contoller需要-->
                        "remoteHost":"%X{req.remoteHost}",
                        <!--请求类型 GET POST-->
                        "method":"%X{req.method}",
                        <!--请求参数-->
                        "queryString":"%X{req.queryString}",
                        <!--userAgent-->
                        "userAgent":"%X{req.userAgent}",
                        <!--xForwardedFor-->
                        "xForwardedFor":"%X{req.xForwardedFor}",
                        <!--请求时长-->
                        "requestTime":"#asLong{%X{req.requestTime}}"
                        }
                    </pattern>
                </pattern>
                <version/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- ===================================================================== -->
    <!--
        <logger name="com.mapabc.data.share" additivity="false">
            <level value="${log.root.level}"/>
            <appender-ref ref="DEFAULT-APPENDER"/>
        </logger>-->

    <!-- 屏蔽logger -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.mybatis.spring" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="com.mapabc.data.share.config" level="WARN"/>
    <!-- 屏蔽jdk日志 -->
    <logger name="java" level="WARN"/>
    <!-- 屏蔽logger 结束-->
    <root level="${log.root.level}">
        <!--程序调试使用输出控制台-->
        <appender-ref ref="STDOUT"/>
        <!--输出文件-->
        <appender-ref ref="DEFAULT-APPENDER"/>
    </root>
</configuration>
